/*Aoboshi One*/
@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&display=swap');

/*Bruno Ace*/ @import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

﻿html, body {
    margin: 0;
    padding: 0;
}

.conteudo-page{
    padding-top:7%;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.navDasPag {
    width: 80%;
    justify-content: flex-start;
    font-family: "Source Code Pro", monospace;
    font-size: 24px;
    margin-left: -9%;
}

.navDasPag a {
    
    text-decoration: none;
    color: gray;
}

.titulo {
    margin-top:3%;
    padding-left:5%;
    margin-bottom:2%;
    font-family: "Aoboshi One";
    font-size: 40px;
    align-self:flex-start;
    width:80%;

}
.caixa {
    width: 100%;
    display: flex;
    justify-content: center;
}

.fundo {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

.fundo {
    display:flex;
    justify-self: center;
    justify-content:center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgba(227, 222, 222, 1);
    width: 90%;
    height: auto;
    transform: scale(0.95);
}

.campos {
    display:flex;
    flex-direction:column;
    width: 45%;
    height: 95%;
    gap: 15px;
}

.cCaixas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

    .cCaixas h4 {
        font-family: "Bruno Ace";
        margin-bottom:5px;
        margin-left:5px;
        font-size: 20px;
        font-weight: 500;
        color: black;
        
    }

.cCaixas input {
    width: 90%;
    height: 55px;
    border-radius: 10px;
    border: 1px solid gray;
    font-family: "Bruno Ace";
    font-size: 15px;
    font-weight: 500;
    padding: 0 0 0 15px;
}

.cCaixas textarea {
    width: 90%;
    height: 150px;
    border-radius: 10px;
    border: 1px solid gray;
    font-family: "Bruno Ace";
    font-size: 15px;
    font-weight: 500;
    padding: 10px 0 0 15px;
    resize: none;
}


.botoes {
    margin-top:10%;
    margin-bottom:5%;
    width: 95%;
    height: 20%;
    display: flex;
    align-items: end;
    justify-content:space-between;
}

.btnAddCan {
    background-color: rgba(131, 120, 120, 1);
    width: 40%;
    height:100%;
    border-radius: 15px;
    border: none;
    display:flex;
    justify-content:center;
    text-decoration:none;
}

    .btnAddCan p {
        font-family: "Bruno Ace";
        font-size: 20px;
        font-weight: 500;
        color: white;
    }


.btnAddCan:last-child {
    background-color: white;
 }

.btnAddCan:last-child p {
    color: black;
}

.campoImagens {
    width: 50%;
    display:flex;
    flex-direction:column;

}

.campoImagens h2 {
    margin-top: 3%;
    font-family: "Bruno Ace";
    font-size: 20px;
    font-weight: 500;
    margin-bottom:5px;
}

.arrastarImgs {
    background-color: rgba(96, 96, 96, 1);
    border-radius: 10px;
    border: 1px solid lightgray;
    display:flex;
    justify-content:center;
    width: 96%;
    height: 25%;
    padding: 18px;
    margin-bottom:25px;
}

.arrastarImgsDentro {
    border-radius: 10px;
    border: 4px solid lightgray;
    border-style: dashed;
    width: 100%;
    height: 100%;
    align-content: center;
    justify-items: center;
}


.arrastarImgsDentro img {
    display: flex;
    width: auto;
    height: 40%;
    margin: 0 0 30px 0;
    
}

.arrastarImgsDentro p {
        font-family: "Bruno Ace";
        font-size: 18px;
        font-weight: 500;
        color: white;
 }


.imgsArrastadas {
    width: 100%;
    height: auto;
    display:flex;
    opacity:0;
    flex-direction:column;
    gap:34px;
}

.imgsArrastadasCampo {
    gap: 35px;
    width: 100%;
    height: 131px;
    opacity: 0;
    transform: translateY(15px);
    pointer-events: none;
    transition: opacity 0.5s ease, transform 0.5s ease;
    display: flex;
    align-items: center;
    padding-left: 34px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid lightgray;
    font-family: "Bruno Ace";
}

    .imgsArrastadasCampo.show {
        opacity: 1;
        transform: translateY(0);
        pointer-events: all;
    }

    .imgsArrastadasCampo img {
        width: 220px;
        height: auto;
        
        
    }
    .imgsArrastadasCampo h2 {
        font-weight: 500;
        font-size: 25px;
        margin-top:0;
        
    }

.aviso {
    margin-top: 10%;
    margin-left: 38%;
    position: absolute;
    font-weight: 400;
    font-size: 18px;
    font-family: "Source Code Pro", monospace;
}
.img-exemplo {
    width: 300px;
    display:flex;
    align-items:center;
    justify-content:center;
    height: 80%;
    border-radius:10px;
    border:1px solid;
    overflow-y:hidden
}

.btn-remover {
    border: 1px solid;
    border-color: crimson;
    background: #ffff;
    color: white;
    padding: 5px 10px;
    font-size: 20px;
    color: crimson;
    border-radius: 8px;
    font-family: "Bruno Ace";
    cursor: pointer;
    margin-left: 30%;
}
