.navDasPag {
    margin-top: 7%;
    margin-left: 4%;
    margin-bottom: 2%;
    font-family: "Bruno Ace", monospace;
    font-size: 24px;
}

    .navDasPag a {
        text-decoration: none;
        color: gray;
    }
body {
    font-family: "Bruno Ace", regular;
}


.tituloLogOff {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 930px;
    background-color: rgba(217, 217, 217, 0.28);
}

    .tituloLogOff h2 {
        color: gray;
        font-weight: 400;
        font-size: 20px;
    }

.logOut {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    border-style: none;
    background: none;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

    .logOut img {
        width: auto;
        height: 50px;
    }

    .logOut h4 {
        font-family: 'Bruno Ace';
        font-weight: 400;
        font-size: 15px;
        color: red;
        justify-self: end;
        justify-items: center;
    }

.conteudo {
    width: 100%;
    height: 900px;
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 15%;
    margin: 0 0 10% 0;
}

.painelDeControle {
    width: 35%;
    height: 100%;
    /*    margin: 0 0 0 6%;*/
}

    .painelDeControle p {
        font-size: 30px;
        font-weight: 500;
    }

.acoes a {
    width: 100%;
    max-width: 100%;
    height: 170px;
    border-radius: 10px;
    margin: 10% 0 10% 0;
    display: flex;
    align-items: center;
    text-decoration-line: none;
}

.acoes p {
    text-decoration-line: none;
    color: white;
    padding: 0 0 0 5%;
    width: 70%;
}

.acoes img {
    display: flex;
    margin: 0 0 0 1%;
    width: 20%;
    height: auto;
}

.adicionar {
    background-color: rgba(126, 174, 159, 1);
}

.editar {
    background-color: rgba(64, 60, 67, 1);
}

.deletar {
    background-color: rgba(207, 107, 107, 1);
}
.gerenciar {
    background-color: rgba(151, 163, 240, 1);
}

.historicoDeAcoes {
    width: 35%;
    height: 100%;
}

    .historicoDeAcoes p {
        font-size: 30px;
        font-weight: 500;
    }

.historico {
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.acaoCard {
    width: 99%;
    max-width: 100%;
    height: 190px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 1% 0 10% 0;
    display: flex;
    align-items: center;
    text-decoration-line: none;
    background-color: black;
}

    .acaoCard img {
        margin: 0 0 0 6%;
    }

.dadosAcao {
    display: flex;
    margin: 0 0 0 10%;
    background-color: white;
    width: 74%;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0 10px 10px 0;
    font-weight: 100;
    flex-direction: column;
}

    .dadosAcao h1 {
        font-weight: 100;
        font-size: 25px;
        margin: 5% 0 0 5%;
    }

.subDadosAcao {
    height: 55%;
    margin: 1% 0 0% 5%;
}

    .subDadosAcao p {
        font-weight: 100;
        font-size: 17px;
    }
