﻿html, body {
    margin: 0;
    padding: 0;
}

.header {
    margin-top: -6%;
}

.conteudo-page {
    width: auto;
    height: auto;
    display: flex;
    margin-top: 6%
}

.menuLateral {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: auto;
    margin: 2% 0 0 80px;
}

.navDasPag {
    font-family: "Bruno Ace", regular;
    font-size: 24px;
}

    .navDasPag a {
        text-decoration: none;
        color: gray;
    }


.menuLateralFiltros {
    margin: 10px 5px 0 5px;
    border: 1px solid lightgray;
    border-radius: 20px;
    padding: 10px 16px 4px 16px;
    display: flex;
    flex-direction: column;
    font-family: "Bruno Ace", regular;
}


.menuLateralFiltrosTitulo {
    font-weight: 800;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

    .menuLateralFiltrosTitulo p {
        margin: 4px 0 0 0;
        font-weight: bolder;
        font-size: 28px;
    }

    .menuLateralFiltrosTitulo img {
        width: 25px;
        height: 25px;
    }


.menuLateralFiltrosCategoria {
    display: flex;
    column-gap: 20px;
    width: 100%;
    height: 200px;
    font: 24px "Bruno Ace", regular;
    color: gray;
    border-bottom: 1px solid lightgray;
    padding:0 0 15px 0;
    flex-direction: column;
    justify-content: space-between;
}

    .menuLateralFiltrosCategoria a {
        text-decoration: none;
        color: gray;
        width: 100%;
        position: relative;
        display: block;
        text-decoration: none;
    }

        .menuLateralFiltrosCategoria a::after {
            content: "›";
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            font-size: 20px;
            color: gray;
        }



.menuLateralFiltrosPrecos{
    height:auto;
    display:flex;
    flex-direction:column;
}
.menuLateralFiltrosPrecos p {
    font-size: 30px;
    font-weight: 800;
    font-family: "Bruno Ace", regular;
}


.slider-container {
    position: relative;
    height: auto;
    margin-top: 10px;

}

.form-inputs {
    width: auto;
    
    display: flex;
    flex-direction:column;
    gap: 20px;
}

.valor-input {
    width: 93%;
    height:29px;
    font-size:15px;
    padding-left:15px;
    font-family:'Bruno Ace'
}

.menuLateralFiltrosAplicar {
    margin: 40px 0;
    background-color: black;
    color: white;
    font: 20px "Source Code Pro", monospace;
    font-weight: bolder;
    padding: 15px 40px;
    border-radius: 10px;
    border-style:none;
}

.exibicao {
    width: 70%;
    margin-left: 50px;
}

.exibicaoGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.exibicaoFilto {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}

    .exibicaoFilto p {
        font: 16px "Bruno Ace", sans-serif;
    }


.exibicaoCard {
    display: flex;
    flex-direction: column;
    width: 316px;
    height: 420px;
    font-family: "Bruno Ace", sans-serif;
    margin-bottom: 64px;
}

.exibicaoCardimg {
    width: 100%;
    height: 316px;
    object-fit: cover;
    border-radius: 8px;
}

.exibicaoCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 316px;
    min-height: 500px;
    font-family: "Bruno Ace", sans-serif;
    margin-bottom: 64px;
    box-sizing: border-box;
}


.exibicaoCardimg {
    width: 100%;
    height: 316px;
    object-fit: cover;
    border-radius: 8px;
}

.cardNome {
    margin: 5px 0 5px 0;
    font-size: 22px;
    line-height: 1.2;
    word-break: break-word;
}


.cardPreco {
    font-size: 30px;
    margin-top: 5px;
    height: 36px;
}


.cardNotasNota {
    font-size: 25px;
    margin-top: 5px;
    height: 30px;
}

.rating-container {
    display: flex;
    align-items: center;
    font-size: 40px;
    gap: 2px;
}

.star {
    position: relative;
    font-size: 40px;
    color: lightgray;
    display: inline-block;
    width: 1em;
}

    .star::before {
        content: '★';
    }

    .star.filled {
        color: gold;
    }

    .star.half {
        color: lightgray;
    }

        .star.half::before {
            content: '★';
            position: absolute;
            left: 0;
            top: -26.5px;
            width: 40%;
            overflow: hidden;
            color: gold;
        }

        .star.half::after {
            content: '★';
            position: absolute;
            left: 15px;
            top: -26.5px;
            width: 41%;
            overflow: hidden;
            color: lightgray;
            transform: scaleX(-1);
        }

.exibicaoSwitch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
}

    .exibicaoSwitch a {
        color: gray;
        padding: 8px 16px;
        text-decoration: none;
        margin: 0 3px;
        border-radius: 6px;
        font-family: "Bruno Ace", sans-serif;
        font-size: 18px;
        transition: all 0.2s;
    }

        .exibicaoSwitch a:hover {
            background-color: #ddd;
            color: black;
        }

.exibicaoSwitchNumeros {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .exibicaoSwitchNumeros a.ativo {
        color: #000;
        font-weight: bold;
        font-size: 20px;
        text-decoration: underline;
    }

.exibicaoSwitchAnterior,
.exibicaoSwitchProximo {
    width: 102px;
    height: 36px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: white;
    border: 1.5px solid #ddd;
    font-family: "Bruno Ace", sans-serif;
    cursor: pointer;
}


    .exibicaoSwitchAnterior:hover,
    .exibicaoSwitchProximo:hover {
        background-color: #ddd;
    }

.seta {
    width: 20%;
}
