/*Import das fontes*/

/*Be Vietnam Pro*/ @import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*Aoboshi One*/ @import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&display=swap');
/*Battambang */@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&display=swap');
/*Bowlby One SC*/ @import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
/*Braah One*/ @import url('https://fonts.googleapis.com/css2?family=Braah+One&display=swap');
/*Source Code Pro*/ @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap');
/*Bruno Ace*/ @import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

/*Início do CSS*/
html {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;

}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}



.telaInicio {
    margin-top: 5.8%;
    height: 630px;
    background-image: url('../imgs/Back.png');
    padding: 0 8% 0 3%;
}

.textos {
    width: 100%;
    color: aliceblue;
    height: 200px;
    font-family: 'Battambang', regular;
    font-weight: bolder;
}

#descubra {
    width: 1500px;
    font-size: 70px;
    margin-left: 100px;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(3px);
    border-radius: 19px;
    letter-spacing: 4px;
}

#parece {
    width: 700px;
    font-size: 70px;
    margin-left: 100px;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 19px;
    letter-spacing: 4px;
    margin-top: -70px;
}

#descricao {
    width: 700px;
    font-size: 24px;
    margin:-60px 0 0 100px;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 19px;
    padding: 10px;
    text-align: justify;
}

.comprarERegistros {
    width: 100%;
    margin-top: 200px;
    display: inline-flex;
}

#Comprar {
    background-color: white;
    border-radius: 40px;
    border-style: none;
    height: 75px;
    display:flex;
    align-items:center;
    justify-content:center;
    text-decoration:none;
    color:black;
    font-size: 25px;
    width: 350px;
    margin: 50px 0 0 100px;
    font-family: "Bowlby One SC";
    cursor: pointer;
}

.registros {
/*    position: absolute;
    display:flex;*/
    width: 100%;
    margin: -50px 0 80px 40%;
    font-family: "Braah One";
}

    .registros ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .registros li {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 10px;
        border-right: 1px solid rgba(255,255,255,0.3);
    }

        .registros li:last-child {
            border-right: none;
        }

        .registros li h3 {
            font-size: 40px;
        }

        .registros li h3, h4 {
            color: white;
        }

        .registros li h4 {
            font-size: 22px;
            margin-top: -20px;
        }

.marcasAbaixo {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
}

.marcas {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

    .marcas img {
        height: 60px;
        width: auto;
        padding-left: 20px;
        padding-right: 20px;
        cursor: pointer;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }

.MaisVendidos {
    width: 100%;
    height: auto;
    display: inline-block;
    justify-content: center;
    margin-top: 50px;
}

    .MaisVendidos .title {
        width: 1890px;
        font-family: "Bowlby One SC";
        font-size: 50px;
        letter-spacing: 2px;
        text-align: center;
        margin-left: 6px;
    }

.Lancamentos {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .Lancamentos .title {
        width: 1890px;
        font-family: "Bowlby One SC";
        font-size: 50px;
        letter-spacing: 2px;
        text-align: center;
        margin-left: 6px;
    }

.cardContainer {
    max-width: 100%;
    justify-items: center;
    overflow: hidden;
    gap: 25px;
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
}

.card {
    width: 380px;
    height: 660px;
    border: 1px solid #000;
    border-radius: 10px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin: 0 0 30px 0;
}

    .card:first-child {
        margin: 0 0 0 195px;
    }

    .card:last-child {
        margin: 0 195px 0 0;
    }

    .card img {
        width: auto;
        max-width:300px;
        margin-top: 15px;
        height: 200px;
        border-radius: 10px 10px 0px 0px;
        pointer-events: none;
        -moz-user-select: none;
        object-fit: cover;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }


.textTitle {
    width: 100%;
    margin: 0 0 0 30px;
}

    .textTitle .titleProduct {
        font-family: "Bowlby One SC";
        font-weight: 100;
        font-size: 20px;
        width: 300px;
        margin: 10px 0 5px 0;
        letter-spacing: 2px;
        height:60px;
        max-height: 60px;
        overflow: hidden;
    }

    .textTitle .brandProduct {
        font-family: "Source Code Pro";
        font-size: 18px;
        color: gray;
        margin: 10px 0 10px 0;
    }

    .textTitle .description {
        width: 295px;
        height: 120px;
        max-height: 120px;
        overflow: hidden;
        font-family: "Source Code Pro";
        font-size: 18px;
        text-align: justify;
        margin: 0 20px 10px 0;
    }

.card hr {
    width: 99.48%;
}

.divisoria {
    width: 100%;
    height: 150px;
    /*background-color: aqua*/ /*!important*//*;*/
}

.card .price {
    font-family: "Braah One";
    font-size: 29px;
    margin: 10px 0 0 25px;
}

.cardProdutoTelaInicial-CoresComprar {
    height: 50px;
    margin: 0 0 -100px 0;
}

.buyButton {
    background-color: #3C3C43;
    color: white;
    border-radius: 18px;
    border-style: none;
    height: 65px;
    padding: 8px 12px 8px 12px;
    font-size: 25px;
    width: 200px;
    margin: 12px 0 0px 100px;
    font-family: "Braah One";
    cursor: pointer;
}

.verMaisButton {
    justify-self: center;
    justify-content: center;
    display: flex;
    background-color: lightgray;
    text-decoration:none;
    color:black;
    align-items:center;
    border-radius: 40px;
    border: 1px solid black;
    height: 65px;
    font-size: 25px;
    width: 200px;
    margin: 20px 0 0 0;
    font-family: "Bowlby One SC";
    cursor: pointer;
}

.filtroDiv {
    margin: 50px 5% 0 5%;
    justify-self: center;
    width: 95%;
    height: 760px;
    background-color: #f0f0f0;
    border-radius: 40px;
}

    .filtroDiv h1 {
        font-weight: bolder;
        font-family: "Braah One";
        font-size: 64px;
        display: flex;
        justify-content: center;
        align-self: center;
        margin: 10px 0 20px 0;
    }

.filtroPorTipo {
    width: 95%;
    height: auto;
    margin-top: 40px;
    margin-left: 85px;
}


.filtroPorTipoLinha1 {
    display: inline-flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    margin-left: 35px;
    gap: 45px;
}

.filtroPorTipoLinha2 {
    display: inline-flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    gap: 45px;
}

.filtroPorTipoCardT1 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 700px;
    height: 260px;
    border-radius: 20px;
    transition: all 0.3s ease;
    text-decoration: none;
    color: white;
    font-size: 40px;
    padding-left: 40px;
    font-family: "Bowlby One SC";
}

    .filtroPorTipoCardT1:hover {
        width: 715px;
        height: 275px;
    }

.filtroPorTipoCardT2 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 770px;
    height: 300px;
    border-radius: 20px;
    transition: all 0.3s ease;
    text-decoration: none;
    color: white;
    font-size: 40px;
    padding-left: 40px;
    font-family: "Bowlby One SC";
}


    .filtroPorTipoCardT2:hover {
        width: 785px;
        height: 315px;
    }

#filtroPorTipoCard1 {
    background-image: url('../imgs/pessoa1.png');
}

#filtroPorTipoCard2 {
    background-image: url('../imgs/pessoa2.png');
}

#filtroPorTipoCard3 {
    background-image: url('../imgs/bateria1.png');
}

#filtroPorTipoCard4 {
    background-image: url('../imgs/piano1.png');
}

