/* Navegação das páginas */
.navDasPag {
    margin: 7% 0 2% 4%;
    font-family: "Bruno Ace", monospace;
    font-size: 24px;
}

    .navDasPag a {
        text-decoration: none;
        color: gray;
    }

body {
    font-family: "Bruno Ace", regular;
}

/* Header LogOff */
.tituloLogOff {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 930px;
    width: 100%;
    background-color: rgba(217, 217, 217, 0.28);
}

    .tituloLogOff h2 {
        color: gray;
        font-weight: 400;
        font-size: 20px;
    }

.logOut {
    display: flex;
    gap: 20px;
    background: none;
    border: none;
    align-items: center;
}

    .logOut img {
        height: 50px;
    }

    .logOut h4 {
        font-family: "Bruno Ace";
        font-weight: 400;
        font-size: 15px;
        color: red;
    }

/* Últimas compras */
.ultimasCompras {
    background-color: rgba(195, 192, 189, 0.6);
    width: 100%;
    margin-top: 5%;
    height: auto;
    border: 1px solid #E2E2E2;
}



/* Título de seção com seta */
.tituloBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border: 3px solid #E2E2E2;
    width: 100%;
}

    .tituloBar h1 {
        margin-left: 6.7%;
        font-size: 20px;
    }

    .tituloBar img {
        height: 25px;
        margin-right: 5%;
        cursor: pointer;
    }

.toggleBtn {
    transition: transform .3s ease;
}

.girar {
    transform: rotate(180deg);
}

/* Cards compras */

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s ease, opacity .35s ease;
}

.cardsDados {
    margin-top:2%;
    margin-bottom:2%;
    display:flex;
    flex-direction:column;
    gap: 20px;
    width: 35%;
    max-height: 500px;
    overflow-y: auto;
    
}

.cardCompras {
    width: 100%;
    height: 120px;
    background-color: black;
    border-radius: 10px;
    display: flex;
}

    .cardCompras img {
        width: 15%;
        padding: 2%;
    }

.dadosCard {
    background-color: white;
    flex: 1;
    display: flex;
    justify-content:center;
    flex-direction: column;
}

    .dadosCard p {
        margin: 0 0 1.5% 2%;
        font-size: 15px;
        font-weight: 500;
    }

.maisDetalhes {
    font-size: 13px !important;
    color: gray;
}

/* Dados da compra */
.dadosDaCompra {
    width: 45%;
    display: flex;
    max-height: 500px;
    overflow-y: auto;
    flex-direction: column;
    background-color: #8D8D8D;
    transition: max-height .4s ease, opacity .3s ease, margin .4s ease, visibility 0s linear .4s;
}

    .dadosDaCompra h1 {
        color: white;
        align-self:center;
        font-size: 22px;
        font-weight: 400;
    }

.subCard {
    display:flex;
    flex-direction:column;
    gap:50px;
    background-color: #C3C3C3;
    height: 78%;
    padding-top: 2%;
}

.grupo {
    width: 100%;
    height: 70%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
}

.itensDados {
    width: 90%;
    background-color: #EAEAEA;
    display: flex;
    margin-top:5%;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}

.valor {
    margin-left:5%;
    margin-top:-4%;
    font-size: 17px;
}

/* Editar conta */
.editarConta {
    width: 100%;
    height:auto;
    background-color: rgba(195, 192, 189, 0.6);
    margin-top: 2%;
}

.conteudoEditar {
    opacity:0;
    max-height:0;
    padding-bottom:0%;
    background-color: #9D9D9D;
    display:flex;
    flex-direction:column;
    overflow: hidden !important;
    transition: max-height .4s ease, opacity .3s ease, padding .4s ease, margin .4s ease;
}

    .conteudoEditar p {
        color: white;
        font-size: 25px;
        align-self:center;
    }

.seusDadosCampo {
    background-color: #BDBBBB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colunas {
    margin-top:3%;
    width: 95%;
    height: 300px;
    display: flex;
    gap: 4%;
}


.coluna1 {
    width:50%;
    display:flex;
    flex-direction:column;
    border-right: 3px solid #837B78;
    padding-right: 5%;
    gap:10px;
}
.coluna2 {
    width: 50%;
    height:auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

    .coluna1 input,
    .coluna2 input {
        background: white;
        border: 3px solid #AFAFAF;
        border-radius: 10px;
        width: 100%;
        height: 15%;
        font-size: 20px;
        padding-left: 15px;
        color: black;
    }



    .coluna3 p {
        font-size: 25px;
        color: #3C3C43;
    }

.botoes {
    width: 30%;
    height:50px;
    margin-top:3%;
    margin-bottom:3%;
    margin-left:3%;
    display: flex;
    align-self:flex-start;
    gap:15%;

}

.btn-cancelar,
.btn-alterar {
    width: 40%;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-family: "Bruno Ace";
    font-weight: 400;
}

.btn-cancelar {
    background-color: #626262;
    color: white;
}

.btn-alterar {
    background-color: #F9F9F9;
    color: black;
}

/* Talvez você goste */
.talvezVoceGoste {
    width: 100%;
    margin-top: 5%;
    padding-top: 2%;
}

.titulo-goste {
    background-color: rgba(0, 0, 0, 0.6);
    height: 25%;
    display: flex;
}

.talvezVoceGosteP {
    font-size: 22px;
    color: white;
    padding-left: 5%;
}

.produtos {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-top: 3%;
    background-color: white;
}

.exibicaoCard {
    width: 316px;
    min-height: 500px;
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
}

.exibicaoCardimg {
    width: 100%;
    height: 316px;
    object-fit: cover;
    border-radius: 8px;
}

.cardNome {
    margin: 5px 0;
    max-height: 66px;
    font-size: 22px;
    line-height: 1.2;
}

.cardPreco {
    font-size: 30px;
    margin-top: 5px;
}

.cardNotasNota {
    font-size: 25px;
    margin-top: 5px;
}

.rating-container {
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 40px;
}

.star {
    position: relative;
    font-size: 40px;
    color: lightgray;
    display: inline-block;
    width: 1em;
}

    .star::before {
        content: '★';
    }

    .star.filled {
        color: gold;
    }

    .star.half {
        color: lightgray;
    }

        .star.half::before {
            content: '★';
            position: absolute;
            left: 0;
            top: -26.5px;
            width: 40%;
            overflow: hidden;
            color: gold;
        }

        .star.half::after {
            content: '★';
            position: absolute;
            left: 15px;
            top: -26.5px;
            width: 41%;
            overflow: hidden;
            color: lightgray;
            transform: scaleX(-1);
        }
